node_modules
yarn-error.log
package-lock.json
config/main.json
config/secret.json
*.db
combined.log
scripts/test
config.json*
build
.yarn
.yarnrc.yml
.editorconfig
.idea
*.tsbuildinfo
**/config/main.json
**/config/secret.json
