node_modules
yarn-error.log
package-lock.json
config/main.json
config/secret.json
*.db
combined.log
scripts/test
config.json*
build

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.editorconfig
.idea
*.tsbuildinfo
**/config/main.json
**/config/secret.json
