auth:
  enabled: true
  rootPassword: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-rootpassword?proto=http#password" | fetchSecretValue }}
  username: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-username?proto=http#password" | fetchSecretValue }}
  password: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-password?proto=http#password" | fetchSecretValue }}
  database: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-db?proto=http#password" | fetchSecretValue }}
  replicaSetKey: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-replicakey?proto=http#password" | fetchSecretValue }}

directoryPerDB: true

replicaCount: 3

resources:
  limits: 
    cpu: 2000m
    memory: "2Gi"
  requests: 
    cpu: 1000m
    memory: "1Gi"

persistence:
  enabled: true
  # storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 8Gi
  annotations: {}
  mountPath: /bitnami/mongodb
  subPath: ""

arbiter:
  enabled: true
