basicauth:
  username: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-express-username?proto=http#password" | fetchSecretValue | quote }}
  password: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-express-password?proto=http#password" | fetchSecretValue | quote }}
certificate:
  enabled: true

mongodb:
  host: "mongodb://{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-express-username?proto=http#password" | fetchSecretValue }}:{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-express-password?proto=http#password" | fetchSecretValue }}@kusama-mongodb-headless.kusama.svc.cluster.local/{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-express-db?proto=http#password" | fetchSecretValue }}?tls=false&replicaSet=rs0"

ingress:
  whitelist_source_ips: {{ "ref+vault://op/vaults/k8s-community-secrets/items/shared-vpn-ip?proto=http#password" | fetchSecretValue | quote }}
