domain: kusama.w3f.community

resources:
  limits:
    cpu: 3500m
    memory: 9Gi
  requests:
    cpu: 700m
    memory: 3Gi

secret: {{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-backend-secret?proto=http#password" | fetchSecretValue }}

config: |
  {
    "global": {
      "dryRun": false,
      "networkPrefix": 2,
      "test": false,
      "retroactive": false,
      "historicalNominations": false,
      "apiEndpoints": [
        "wss://kusama-rpc.polkadot.io",
        "wss://kusama.api.onfinality.io/public-ws",
        "wss://kusama-rpc.dwellir.com",
        "wss://kusama.public.curie.radiumblock.xyz/ws"
      ],
      "candidatesUrl": "https://raw.githubusercontent.com/w3f/1k-validators-be/master/candidates/kusama.json"
    },
    "constraints": {
      "skipConnectionTime": false,
      "skipIdentity": false,
      "skipStakedDestination": true,
      "skipClientUpgrade": false,
      "forceClientVersion": "v0.9.39",
      "skipUnclaimed": true,
      "minSelfStake": 10000000000000,
      "commission": 150000000,
      "unclaimedEraThreshold": 4
    },
    "cron": {
      "monitor": "0 */15 * * * *"
    },
    "db": {
      "mongo": {
          "uri": "mongodb://{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-username?proto=http#password" | fetchSecretValue }}:{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-password?proto=http#password" | fetchSecretValue }}@kusama-mongodb-headless.kusama.svc.cluster.local/{{ "ref+vault://op/vaults/k8s-community-secrets/items/otv-kusama-mongodb-db?proto=http#password" | fetchSecretValue }}?tls=false&replicaSet=rs0"
      }
    },
    "matrix": {
      "enabled": true,
      "baseUrl": "https://matrix.org",
      "room": "!mdugGIKqSTweIOpTlA:web3.foundation",
      "userId": "@1kv-stats:matrix.org"
    },
    "proxy": {
        "timeDelayBlocks": "10850",
        "blacklistedAnnouncements": []
    },
    "score": {
      "inclusion": "200",
      "spanInclusion": "200",
      "discovered": "5",
      "nominated": "30",
      "rank": "5",
      "bonded": "50",
      "faults": "5",
      "offline": "2",
      "location": "40",
      "region": "10",
      "country": "10",
      "provider": "100",
      "council": "50",
      "democracy": "100",
      "nominations": "100",
      "delegations": "60",
      "openGov": "100",
      "openGovDelegation": "100"
    },
    "scorekeeper": {
      "forceRound": false,
      "nominating": true
    },
    "server": {
      "port": 3300,
      "enable": true
    },
    "telemetry": {
      "enable": true,
      "chains": [
          "0xb0a8d493285c2df73290dfb7e61f870f17b41801197a149ca93654499ea3dafe"
      ],
      "blacklistedProviders": [
        "Hetzner Online GmbH",
        "Contabo Inc.",
        "Contabo GmbH"
      ],
      "host": "wss://telemetry-backend.w3f.community/feed"
    },
    "subscan": {
        "baseV1Url": "https://kusama.api.subscan.io/api/scan",
        "baseV2Url": "https://kusama.api.subscan.io/api/v2/scan"
    }
  }
