environment: {{ .Environment.Name }}

config: {{ env "OTV_BACKEND_CONFIG" | default "{}" }}

{{ if eq .Environment.Name "production" }}
image:
  tag: {{ env "CIRCLE_TAG" }}

{{ else }}
image:
  tag: {{ env "CIRCLE_SHA1" }}

certificate:
  enabled: false
{{ end }}
