environment: {{ .Environment.Name }}

dataPath: "/data"

backendPort: 3300

image:
  repo: web3f/otv-backend
 {{ if eq .Environment.Name "production" }}
  tag: {{ env "CIRCLE_TAG" }}
 {{ else }}
  tag: {{ env "CIRCLE_SHA1" }}
 {{ end }}

resources:
  limits:
    cpu: 2000m
    memory: 1Gi
  requests:
    cpu: 1000m
    memory: 400Mi

backendPort: 3300    