environment: {{ .Environment.Name }}

{{ if eq .Environment.Name "production" }}
image:
  tag: {{ env "CIRCLE_TAG" }}

config: {{ env "OTV_BACKEND_CONFIG" | default "{}" }}

{{ else }}
image:
  tag: {{ env "CIRCLE_SHA1" }}

certificate:
  enabled: false
{{ end }}

mongodb:
  url: mongodb://mongodb-replicaset-0.mongodb-replicaset,mongodb-replicaset-1.mongodb-replicaset:27017/otv?replicaSet=otv-replicaset
