apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/limit-rps: "10"
    {{ if .Values.certificate.enabled }}
    cert-manager.io/cluster-issuer: letsencrypt
    {{ end }}
    nginx.ingress.kubernetes.io/server-snippet: |
      location /metrics {
        deny all;
      }
spec:
  tls:
  - hosts:
      - {{ .Values.domain }}
    secretName: {{ include "otv-backend.tls-secret-name" . }}
  rules:
  - host: {{ .Values.domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ .Release.Name }}
          servicePort: {{ .Values.backendPort }}
