environment: production

image:
  repo: web3f/otv-backend
  #tag: latest
  imagePullPolicy: IfNotPresent

ingress:
  domain: otv.w3f.community
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/server-snippet: |
      location /metrics {
        deny all;
      }
    cert-manager.io/cluster-issuer: letsencrypt
  certificate:
    enabled: true

dataPath: "/data"
backendPort: 3300

storageSize: 20Gi
resources:
  limits:
    cpu: 600m
    memory: 1Gi
  requests:
    cpu: 300m
    memory: 400Mi

secret: |
  {
    "matrix": {
        "accessToken": "xxxxx"
    },
    "scorekeeper": {
        "nominators": []
    }
  }

config: |
  {
    "global": {
      "dryRun": false,
      "networkPrefix": 2,
      "test": false
    },
    "constraints": {
      "skipConnectionTime": false,
      "skipIdentity": false,
      "sanctionedGeoArea": {
        "skip": false,
        "sanctionedCountries": ["XXX"],
        "sanctionedRegions": ["XXX" ]
      }
    },
    "db": {
      "mongo": {
          "uri": "mongodb://[username:password@]mongodb-replicaset-headless:27017/otv?replicaSet=otv"
      }
    },
    "matrix": {
      "enabled": true,
      "baseUrl": "https://matrix.org",
      "room": "!mdugGIKqSTweIOpTlA:web3.foundation",
      "userId": "@1kv-stats:matrix.org"
    },
    "scorekeeper": {
      "candidates": [
          {
              "name": "LetzBake!",
              "stash": "Cp4U5UYg2FaVUpyEtQgfBm9aqge6EEPkJxEFVZFYy7L1AZF",
              "riotHandle": "@marc1104:matrix.org"
          },
          {
              "name": "Binary Holdings",
              "stash": "GKEvLVdBEvjHyU77Ai1aPR6KdfVfoAEUQVfUk8uFTQQfvmT",
              "riotHandle": "@tacoturtle:matrix.org"
          }
      ],
      "forceRound": true,
      "nominating": true
    },
    "server": {
      "port": 3300
    },
    "telemetry": {
      "chains": [
          "Kusama"
      ],
      "host": "wss://telemetry-backend.w3f.community/feed",
      "ipinfoToken": "token=xxx"
    },
    "logger": {
      "level": "info",
      "excludedLabels": [
        "Telemetry",
        "Location",
        "Block",
        "Gateway"
      ]
    }
  }
