basicauth:
  username: "admin"
  password: "pass"

mongodb:
  host: "mongodb://username:password123@polkadot-mongodb-0.polkadot-mongodb-headless:27017,polkadot-mongodb-1.polkadot-mongodb-headless:27017/otv?replicaSet=rs0"
